@charset "utf-8";
@import url("./normalize.css");
@import url("./fonts.css");

/* Reset CSS */

html,
button,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* 기본 설정 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: VarelaRound, sans-serif;
  line-height: 1.8;
  color: #868686;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #f07b7b;
}


/* 숨김 컨텐츠 */

.invisible {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}


/* clearfix */

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}


/* layout */

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 120px;
}

.content-1__img,
.content-2__figure-2 {
  position: relative;
  left: -120px;
}

figure img {
  display: block;
}


/* header */

.header {
  position: relative;
  padding-top: 165px;
}

.header__heading {
  width: 480px;
  font-size: 3rem;
  line-height: 1.2;
  color: #222222;
}

.header__desc {
  position: relative;
  margin-top: 49px;
  width: 565px;
  font-family: PTSerif, sans-serif;
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.5;
}

.header__desc::before {
  content: '';
  position: absolute;
  top: 10px;
  left: -40px;
  width: 13px;
  height: 15px;
  background: url('images/img-header.png') no-repeat;
}

.header__category {
  position: absolute;
  top: 127px;
  left: 0px;
  font-family: Oswald, sans-serif;
  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #1f4ba5;
}

.header__date {
  position: absolute;
  top: 127px;
  left: 79px;
  font-family: PTSerif, sans-serif;
  font-size: 0.8rem;
  font-style: italic;
}

.header__author {
  position: absolute;
  top: 127px;
  right: 0px;
  font-family: PTserif, sans-serif;
  font-size: 0.6rem;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 1px;
}

.header__author span {
  font-family: Oswald, sans-serif;
  font-size: 0.6rem;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 1px;
}


/* main */


/* content-1 */

.content-1 {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 45px;
}

.content-1__heading {
  font-size: 1.8rem;
  color: #222222;
}

.content-1__para {
  margin-top: 50px;
  width: 600px;
}

.content-1__img figcaption {
  margin-top: 30px;
  padding-left: 120px;
  font-family: PTSerif, sans-serif;
  font-size: 0.7rem;
  font-style: italic;
}


/* content-2 */

.content-2 {
  display: flex;
  flex-direction: column;
  margin-top: 57px;
}

.content-2__heading {
  order: 2;
  margin-top: 49px;
  width: 600px;
  font-size: 1.8rem;
  line-height: 1.2;
  color: #222222;
}

.content-2__para-1 {
  order: 3;
  margin-top: 48px;
  width: 600px;
}

.content-2__bq {
  order: 4;
  margin-top: 48px;
  width: 600px;
}

.content-2__bq blockquote {
  float: left;
  position: relative;
  width: 360px;
  font-family: PTSerif, sans-serif;
  font-size: 1.1rem;
  font-style: italic;
  color: #222222;
}

.content-2__bq blockquote::before {
  content: '';
  position: absolute;
  top: 10px;
  left: -40px;
  width: 13px;
  height: 15px;
  background: url('images/quote.png') no-repeat;
}

.content-2__figure-1 {
  float: left;
  margin-top: 10px;
  margin-left: 45px;
}

.content-2__figure-1 figcaption {
  margin-top: 15px;
  font-family: PTSerif, sans-serif;
  font-size: 0.6rem;
  font-style: italic;
  color: #b8b8b8;
}

.content-2__figure-1 em {
  display: block;
  font-family: VarelaRound, sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  font-style: normal;
  color: #222222;
}

.content-2__figure-2 {
  display: flex;
  order: 0;
}

.content-2__figure-2 figcaption {
  margin-top: 19px;
  font-family: PTSerif, sans-serif;
  font-size: 0.7rem;
  font-style: italic;
  text-align: center;
}

.content-2__btn-container {
  order: 1;
  margin-top: 41px;
}

.content-2__pre,
.content-2__next {
  float: left;
  width: 60px;
  height: 60px;
  padding-top: 60px;
  overflow: hidden;
  background-image: url('images/btn.png');
  background-repeat: no-repeat;
}

.content-2__next {
  background-position: 100% 0%;
}

.content-2__pagination {
  float: left;
  margin-left: 30px;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 1.2px;
  line-height: 60px;
}

.content-2__pagination sup {
  font-size: 0.4rem;
}

.content-2__para-2 {
  order: 5;
  margin-top: 50px;
  width: 600px;
}

.content-2__figure-3 {
  order: 6;
  margin-top: 46px;
}

.content-2__figure-3 figcaption {
  margin-top: 19px;
  width: 600px;
  font-family: PTSerif, sans-serif;
  font-size: 0.7rem;
  font-style: italic;
  text-align: center;
}


/* content-3 */

.content-3 {
  float: left;
  margin-top: 47px;
  width: 280px;
}

.content-3__heading {
  font-size: 1.1rem;
  line-height: 1.2;
  color: #222222;
}

.content-3__para {
  margin-top: 25px;
}


/* content-4 */

.content-4 {
  float: left;
  margin-top: 47px;
  margin-left: 20px;
  width: 280px;
}

.content-4__heading {
  font-size: 1.1rem;
  line-height: 1.2;
  color: #222222;
}

.content-4__para {
  margin-top: 25px;
}


/* footer */

.footer {
  clear: both;
  margin-bottom: 42px;
  padding-top: 56px;
}

.footer__link {
  font-size: 0;
}

.footer__facebook,
.footer__twitter,
.footer__google,
.footer__pinterest {
  display: inline-block;
  margin-right: 10px;
  width: 85px;
  
  font-family: Oswald, sans-serif;
  font-size: 0.6rem;
  font-weight: bold;
  letter-spacing: 1px;
  color: #ffffff;
}

.footer__facebook a,
.footer__twitter a,
.footer__google a,
.footer__pinterest a {
  display: block;
  position: relative;
  padding: 7px 0 7px 45px;
  border-radius: 20px;
}

.footer__facebook a {
  background-color: #215b9a;
}

.footer__twitter a {
  background-color: #00adf2;
}

.footer__google a {
  background-color: #ce4435;
}

.footer__pinterest a {
  background-color: #e51616;
}

.footer__facebook a::before {
  content: url('images/facebook.png');
  position: absolute;
  left: 15px;
}

.footer__twitter a::before {
  content: url('images/twitter.png');
  position: absolute;
  left: 15px;
}

.footer__google a::before {
  content: url('images/google.png');
  position: absolute;
  left: 15px;
}

.footer__pinterest a::before {
  content: url('images/pinterest.png');
  position: absolute;
  left: 15px;
}

.footer__back {
  display: block;
  margin-top: 43px;
  font-size: 0.8rem;
  color: #1f4ba5;
}

.footer__back::before {
  content: url('images/back.png');
  margin-right: 4px;
}