@charset "utf-8";
@import url("./normalize.css");
@import url("./fonts.css");

/* Reset CSS */

html,
button,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* 기본 설정 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Spoqa Han Sans', sans-serif;
  font-weight: 100;
  line-height: 1.8;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #f07b7b;
}

/* 숨김 컨텐츠 */

.invisible {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}


/* clearfix */

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

/* v-cloak */

[v-cloak] {
  display: none;
}


/* Style */

.container {
  margin: 0 auto;
  width: 1080px;
}

.heading {
  position: relative;
  width: 240px;
  font-size: 2.5rem;
  font-weight: 700;
}

.heading::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #50d4dd;
}

.heading::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 32px;
  height: 32px;
  border: 16px solid #50d4dd;
  border-top-color: transparent;
  border-left-color: transparent;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.work-list li {
  position: relative;
  margin: 50px;
  width: 256px;
  height: 256px;
  background-color: #fff;
  box-shadow: 5px 5px 50px -15px #222222;
  transition: transform 0.5s;
}

.work-list li:hover {
  transform: translateY(-5%);
}


.work-list li::before {
  content: '';
  position: absolute;
  width: 32px;
  height: 32px;
  border: 16px solid #50d4dd;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

.work-list a {
  display: block;
  position: relative;
  height: 100%;
}

.work-list span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 192px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 100;
}