body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.board-conatiner {
  font-size: 0;
}

.board-item-1 {
  display: inline-block;
  width: 100px;
  text-align: center;
  font-size: 14px;
}

.board-item-2 {
  display: inline-block;
  width: 200px;
  text-align: center;
  font-size: 14px;
}

.edit {
  display: inline-block;
  padding: 10px;
  text-align: center;
  background-color: rgb(63, 152, 184);
}

.delete {
  display: inline-block;
  padding: 10px;
  text-align: center;
  background-color: rgb(42, 91, 197);
}