@charset "utf-8";
@import url("./fonts.css");
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: white;
}

.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.top {
  background-color: steelblue;
}

.bottom {
  flex-grow: 1;
  background-color: #232323;
  display: flex;
  flex-direction: column;
}

.heading {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.heading__RGB {
  font-size: 3.5rem;
  font-weight: 600;
}

.score {
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  text-align: center;
}

.game-center {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rgb-text {
  text-align: center;
  font-family: 'Source Code Pro', serif;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.boxes {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.box {
  margin-right: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
}

.box.show {
  transform: scale(46);
}

.box:last-child {
  margin-right: 0;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal.show {
  display: flex;
}

.modal-inner {
  font-family: 'Montserrat', sans-serif;
}

.modal-title {
  font-size: 3.2rem;
  font-weight: 700;
}

.modal-score {
  font-size: 1.4rem;
  text-align: center;
}

.modal-button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 50px;
  width: 130px;
  padding: 7px 10px;
  font-size: 1.1rem;
  font-weight: 700;
  text-align: center;
}
